"*":
  core:
    automaticallyUpdate: false
    telemetryConsent: "no"
  welcome:
    showOnStartup: false
  "u2i-hackathon":
    cableServerUrl: "ws://localhost:3000/cable"
    commandOverwrites:
      "File Based":
        JavaScript:
          command: "docker"
          prependArgs: ['run', '--rm', '-w/', '-v/tmp/:/tmp/', 'node', 'node']
        Python:
          command: "docker"
          prependArgs: ['run', '--rm', '-w/', '-v/tmp/:/tmp/', 'python', 'python']
        Ruby:
          command: "docker"
          prependArgs: ['run', '--rm', '-w/', '-v/tmp/:/tmp/', 'ruby', 'ruby']
    languages: [
      {
        name: "JavaScript (node.js)"
        extension: "js"
        execDirectory: "/tmp/"
        printVersionCommand: "docker run --rm node node --version"
      }
      {
        name: "Python"
        extension: "py"
        execDirectory: "/tmp/"
        printVersionCommand: "docker run --rm python python --version"
      }
      {
        name: "Ruby"
        extension: "rb"
        execDirectory: "/tmp/"
        printVersionCommand: "docker run --rm ruby ruby --version"
      }
    ]
    solutionFolder: "/tmp/u2icc-solutions/"
    token: "winterns"
